page-product {
    div.transbox {

       
        // margin: 10px;
        border: 1px solid transparent;
        
        background-color: white
       /*filter: alpha(opacity=60); For IE8 and earlier */
    }
      
    div.transbox p {
        margin: 5%;
        color: #000000;
    }


        #floating-panel {
          position: bottom;
          top: 10px;
          right: 5px;
          z-index: 5;
          background-color: #fff;
          padding: 5px;
          border: 1px solid #999;
          text-align: center;
          font-family: 'Roboto','sans-serif';
          line-height: 30px;
          padding-left: 10px;
        }
        #map {
          height: 30%;
        }
      
}
