page-product {
<<<<<<< HEAD
=======
   
>>>>>>> 84c1653c1736182b1f07da52f264afe942688efb
    div.transbox {
        margin: 10px;
        border: 1px solid black;
       /*filter: alpha(opacity=60); For IE8 and earlier */
    }
      
    div.transbox p {
        margin: 5%;
        color: #000000;
    }
}
